/* Ensure the body and html take up the full height */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.landing {
    text-align: center;
    padding: 50px;
    /* background-color: #f4f4f9; */
    color: #333;
  }
  
  .landing h1 {
    font-size: 3rem;
    color: #4CAF50;
  }
  
  .landing p {
    font-size: 1.2rem;
    color: #555;
    max-width: 700px;
    margin: 20px auto;
  }
  
