.landing {
    text-align: center;
    padding: 50px 20px;
    background-color: #e9e0e0ed;
    color: #2c3e50;
    position:fixed;
    width: 100%;
  }
  
  .landing h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top:200px;
  }
  
  .landing p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 169px;
  }
  