.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #e6dcdc;
  }
  
  .login h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
    margin-top: 190px;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin-bottom:190px ;
  }
  
  .login input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #81aecc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login button:hover {
    background-color: #4194cc;
  }
  