.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #e6dcdc;
    /* height: 100%; */
    /* position: fixed; */
    width: 100%;
  }
  
  .registration h2 {
    margin-top: 150px;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .registration form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    height: 100%;
    margin-bottom: 183px;
  }
  
  .registration input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registration button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #81aecc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* width: 200px; */
  }
  
  .registration button:hover {
    background-color: #4194cc;
  }
  